body
{
    background-color: #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main
{
    display: flex;
    flex-direction: column;
    margin: 75px 300px 75px 300px;
    background-image: linear-gradient(to bottom right,#11AA95,#106497);
    height: 550px;
    width: 375px;
    border: 2px;
    border-radius: 10px;
}
.main:hover
{
    scale: 1.05;
    transition: 0.5s;
}
#search
{
    border-radius: 30px;
    border-style:hidden;
    border-color: #ffffff;
    padding: 15px;
    margin-left: 60px;
    margin-top: 23px;
    width: 200px;
}
.srch
{
    display:flex;
    flex-direction: row;
    align-items: end;
    margin-top: 5px;
}
.srchbutton
{
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    display: flex;
    size-adjust: 3px;
    border-radius: 25px;
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 1px;
}
.srchbutton:hover
{
    transform: rotate(90deg);
}
.weatherimg
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
.sun
{
    height: 175px;
}
.degree
{
    color:#ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}
.temp
{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.state
{
    color: #ffffff;
    font-size: 40px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.condition
{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.humid
{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 70px;
    margin-left: 30px;
    margin-right: 20px;
}
.wind
{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 70px;
    margin-left: 60px;
}
.humidimg
{
    height: 40px;
}
.humidtxt
{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: #ffffff;
    font-size: 15px;
}