body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main
{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right,#10a398,#107297);
    height: 400px;
    width: 300px;
    border: 2px;
    border-style: solid;
    border-color: #000000;
    border-radius: 10px;
}
#search
{
    border-radius: 20px;
    padding: 10px;
    margin-left: 30px;
    margin-top: 25px;
}
.srch
{
    display:flex;
    align-items: flex-end;
    
}
.srchbutton
{
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    display: flex;
    flex-shrink:var(2px);
    border-radius: 20px;
    padding: 3px;
    margin-left: 20px;
    margin-bottom: 5px;
}
